@import '../../index.scss';

.memberImage {
    border-radius: 100%;
    -webkit-box-shadow: 0px -1px 16px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px -1px 16px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px -1px 16px 0px rgba(0, 0, 0, 0.75);
    width: 200px;
    height: 200px;
}