.spinner-grow {

  &_delay-1{
    animation-duration: 1.2s;
  }
  &_delay-2{
    animation-duration: 1.4s;
  }
  &_delay-3{
    animation-duration: 1.6s;
  }

} 

.text-custom-primary {
  color: #a12829;
}

.text-custom-secondary {
  color: #fdfdfd;
}
