@import '../../index.scss';
.dropdown-menu.show {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
}

.dropdown-item {
    padding: 0.8rem;
    text-align: center;
    &:hover {
        color: $text-primary-dark;
        background-color: $action-primary;
    }
}

.nav-item {
    margin-left: 4rem;
}