$bg-primary: #fdfdfd;
$text-primary: #2c282c;
$action-primary: #a12829;
$bg-primary-dark: #2c282c;
$text-primary-dark: #fdfdfd;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.testing {
  background-color: $text-primary;
};